@import url(./banner.css);
@import url(./navbar.css);
@import url(./footer.css);
@import url(./nav-footer.css);
@import url(./font.css);
@import url(./footer.css);
@import url(./rov-banner.css);
@import url(./rov-section-1.css);
@import url(./rov-section-2.css);
@import url(./rov-text.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

