.lol-main-content {
  font-family: "Prompt-Regular", sans-serif !important;
  font-size: 18px;
}
.lol-text-1 {
  text-indent: 3rem;
  line-height: 2rem;
  text-align: justify;
  padding-bottom: 10px;
}
.lol-text-1 span {
  font-family: "Prompt-Bold", sans-serif !important;
  font-size: 50px;
  color: #0cc0df !important;
  padding: 1px;
}
.lol-text-2 {
  text-indent: 3rem;
  text-align: justify;
  line-height: 2rem;
  padding-bottom: 10px;
}
.lol-text-2 span {
  border-left: thick solid #0cc0df;
  padding: 5px;
}
.lol-text-3 {
  text-indent: 3rem;
  text-align: justify;
  line-height: 2rem;
}
.lol-text-3 span {
  border-left: thick solid #0cc0df;
  padding: 5px;
}
