@import url(../css/banner.css);
@import url(../css/use-all.css);
@import url(../css/navbar.css);
@import url(../css/footer.css);
@import url(../css/nav-footer.css);
@import url(../css/font.css);
@import url(../css/footer.css);
@import url(./mbl-banner.css);
@import url(./mbl-section-1.css);
@import url(./mbl-section-2.css);
@import url(./mbl-text.css);
@import url(../css/back-to-top.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}
body {
    background-color: #eceaea !important;
  }